<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-lazy-init="true">

	<description>Spring公共配置 </description>



	<!-- 使用annotation 自动注册bean,并保证@Required,@Autowired的属性被注入 -->
	<context:component-scan base-package="com.iflytek.jsec" />


	<!--
		<bean id="jsecDataSource"
		class="org.logicalcobwebs.proxool.ProxoolDataSource"
		destroy-method="shutdown"> <property name="driver"
		value="${jsec.jdbc.driverClassName}" /> <property name="driverUrl"
		value="${jsec.jdbc.url}"/> <property name="user"
		value="${jsec.jdbc.username}" /> <property name="password"
		value="${jsec.jdbc.password}" /> <property name="alias" value="jsec"
		/> <property name="testBeforeUse" value="true"/> <property
		name="prototypeCount" value="1" /> <property
		name="maximumConnectionCount" value="10" /> <property
		name="minimumConnectionCount" value="2" /> <property name="trace"
		value="true" /> <property name="verbose" value="true" /> <property
		name="statistics" value="60s" /> <property name="houseKeepingTestSql"
		value="${jsec.jdbc.testsql}"/> </bean> <bean id="jsecDataSourceFacade"
		class="org.logicalcobwebs.proxool.ProxoolFacade"
		destroy-method="shutdown"/>
	-->
	
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>${cac.datasource.jndi.name}</value>
		</property>
	</bean>
	
	<bean id="jsecJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"  autowire-candidate="false">
		<property name="dataSource" ref="jsecDataSource" />
	</bean>

	<bean id="jsecService" class="com.iflytek.jsec.cac.service.security.JsecServiceDBImpl">
		<property name="jdbcTemplate" ref="jsecJdbcTemplate" />
	</bean>






</beans>